.container {
    display: flex;
    flex-direction: column;
}

.dealer {
   position: fixed;
   top: 4%;
}

.player-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom: 4%;
}

